<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>heaterpi</title>
  <link rel="icon" href="data:," />
</head>

<body>
  <main>
    <div>
      <p>Camera captures every 5 seconds and the web page automatically refreshes the data every second.</p>
      <dl>
        <dt>No lights</dt>
        <dd>heater is disabled (HDO probably?)</dd>
        <dt>Only yellow light</dt>
        <dd>heater is ready but turned off</dd>
        <dt>Both yellow and green lights</dt>
        <dd>heating is on</dd>
      </dl>
      <pre id="camera">{}</pre>
    </div>
    <div>
      <input type="button" value="On" id="on" />
      <input type="button" value="Off" id="off" />
    </div>
    <div>
      <pre id="response"></pre>
    </div>
  </main>

  <script type="text/javascript">
    async function get(api) {
      const res = await fetch(`api/${api}`, {
        "Accept": "application/json",
      });
      return await res.json();
    }

    async function post(api, body) {
      const res = await fetch(`api/${api}`, {
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json",
        },
        method: "POST",
        body: JSON.stringify(body),
      });
      return await res.json();
    };

    document.getElementById("on").onclick = async () => {
      const data = await post("heater/enable", {state: "on"});
      document.getElementById("response").innerText = JSON.stringify(data);
    };
    document.getElementById("off").onclick = async () => {
      const data = await post("heater/enable", {state: "off"});
      document.getElementById("response").innerText = JSON.stringify(data);
    };

    // Refresh the camera data every second
    setInterval(async () => {
      const data = await get("camera");
      document.getElementById("camera").innerText = JSON.stringify(data);
    }, 1000);
  </script>
</body>

</html>